@use '@style/variables.scss' as *;
@use '@style/mixin.scss' as *;

.order-info {
  @include flex-coloumn;
  gap: $space-400;
}

.title-info {
  @include flex-coloumn;
  gap: $space-300;
}

.texts {
  @include flex-coloumn;
  gap: $space-100;
}

.title {
  @include text-preset-1;
  color: $rose-900;
}

.text {
  @include text-preset-3;
  color: $rose-500;
}

.confirmed-items {
  @include flex-coloumn;
  gap: $space-300;
  padding: $space-300;
  border-radius: $space-100;
  background: $rose-50;
}

.order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order {
  @include text-preset-4-normal;
  color: $rose-900;
}

.total {
  @include text-preset-2;
  color: $rose-900; 
}