@use '@style/variables.scss' as *;
@use '@style/mixin.scss' as *;

.backdrop {
  position: fixed;
  @include grid-center;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  background: $white;
  padding: $space-500;
  border-radius: $space-150;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
