$red: #c73b0f;
$green: #1ea575;
$rose-900: #260f08;
$rose-500: #87635a;
$rose-400: #ad8a85;
$rose-300: #caafa7;
$rose-100: #f5eeec;
$rose-50: #fcf8f6;
$black: #000;
$white: #fff;
$space-1100: 5.5rem; // 88px
$space-500: 2.5rem; // 40px
$space-400: 2rem; // 32px
$space-300: 1.5rem; // 24px
$space-200: 1rem; // 16px
$space-150: 0.75rem; // 12px
$space-100: 0.5rem; // 8px
$space-50: 0.25rem; // 4px

$text-height-120: 120%;
$text-height-125: 125%;
$text-height-150: 150%;
$text-size-4: 0.875rem; // 14px
$text-size-3: 1rem; // 16px
$text-size-2: 1.5rem; // 24px
$text-size-1: 2.5rem; // 40px

$text-weight-400: 400;
$text-weight-600: 600;
$text-weight-700: 700;
$font-main: 'Red Hat Text', sans-serif;
$round-border: 999px;
