@use '@style/variables.scss' as *;
@use '@style/mixin.scss' as *;

.cart {
  @include flex-coloumn;

  gap: $space-300;
  width: 100%;
  max-width: 384px;
  padding: $space-300;
  background: $white;
  border-radius: $space-150;
}

.title {
  color: $red;
  @include text-preset-2;
}

.placeholder {
  display: flex;
  flex-direction: column;
  gap: $space-200;
  align-items: center;
  padding: $space-200 0;
}

.empty-text {
  @include text-preset-4-bold;

  color: $rose-500;
}

.total-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $rose-900;
}

.total-title {
  @include text-preset-4-normal;
}

.total-sum {
  @include text-preset-2;
}

.carbon-container {
  @include flex-center;

  gap: $space-100;
  padding: $space-200;
  color: $rose-900;
  background: $rose-50;
  border-radius: $space-100;
}

.carbon-text {
  @include text-preset-4-normal;
}

.carbon-text-accent {
  @include text-preset-4-bold;
}

.cart-content {
  @include flex-coloumn;

  gap: $space-300;
}

.cart-list {
  padding-bottom: $space-300;
  border-bottom: 1px $rose-100 solid;

  &:last-child {
    padding: 0;
    border: none;
  }
}
