@use '../../../style/variables.scss' as *;
@use '../../../style/mixin.scss' as *;

.add-to-cart__active,
.add-to-cart {
  position: absolute;
  cursor: pointer;
  @include text-preset-4;
  @include flex-center;

  padding: $space-150;
  max-width: 160px;
  width: 100%;
  border-radius: 999px;
  
  transition: 0.2s ease-out;
}

.add-to-cart__active {
  @include text-preset-4-bold;
  justify-content: space-between;
  border: 1px solid $red;
  color: $white;
  background: $red;
  svg {
    cursor: pointer;
  }
}

.add-to-cart {
  color: $rose-900;
  background: $white;
  gap: $space-100;
  border: 1px solid $rose-400;

  &:hover {
    color: $red;
    border-color: $red;
  }
}

.quantity-button {
  border: none;
  background: none;
  width: 20px;
  height: 20px;
}
