@use '../../../style/variables.scss' as *;
@use '../../../style/mixin.scss' as *;

.products {
  @include flex-coloumn;

  gap: $space-400;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $space-400 $space-300;
}

.title {
  @include text-preset-1;

  color: $rose-900;

}
